header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
  }
  
  
  header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
  }
  
  header .user .name{
  font-size: 3.5rem;
  color: #eee;
  }
  
  header .user .post{
    font-size: 1.5rem;
    color: #eee;
    }
  
  header .navbar{
    width: 100%;
  }
  
  header .navbar ul{
   list-style: none;
   padding: 1rem 3rem;
  }
  
  header .navbar ul li a{
   display: block;
   padding: 1rem;
   margin: 1.5rem 0;
   background: #333;
   color: #fff;
   font-size: 2rem;
   border-radius: 5rem ;
   }
  
header .navbar ul li a:hover{
  background: var(--yellow);
 }


@media (max-width: 990px) {
 header{
  left: -120%;  
 }
 
 #menu{
   display: block;
  }

  header.toggle{
    left: 0%;   
   }


   body{
    padding: 0;
   }
 }


 @media (max-width: 768px) {
    html{
     font-size: 50%;
    }
    
    
}

 @media (max-width: 400px) {
    header{
     width: 0; 
    }
  
}